* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 30%);
    padding: 0px 20px;
}

header {
    --color1: wheat;
    height: 15vh;
    color: var(--color1);
    border-bottom: 2px solid var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#itemHolder {
    padding: 10px;
    display: flex;
    height: 700px;
    width: 600px;
    background-color: hsla(0, 20%, 80%, .1);
    margin: auto;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    overflow-y: auto;
}

footer {
    text-align: center;
}

.item {
    --size: 150px;
    min-height: var(--size);
    width: 500px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 30%);
    text-align: center;
    color: wheat;
    box-shadow: 2px 2px black;
}